<mat-card class="card-list__list mat-elevation-z3" fxLayout="column" fxLayoutGap="16px">
  <mat-card-title class="card-list__name" fxFlexAlign="center">
    <strong>{{ cardList.name }}</strong>
  </mat-card-title>
  <mat-card-content class="card-list__content" fxLayout="column">
    <app-card-item class="card" *ngFor="let card of cardList.cards | filterBy:searchCriterion"
      [card]="card" [isDone]="cardList.name === 'Done'" (removeCard)="removeCard.emit($event)">
    </app-card-item>
  </mat-card-content>
  <mat-card-actions fxFlexAlign="center">
    <button class="button__create-list" mat-flat-button (click)="openCreatePage()">+ Create card</button>
  </mat-card-actions>
</mat-card>
