@import "~src/_variables.scss";

.page-header {
  position: relative;
  z-index: 2;
  color: mat-color($accent, 100);
  background-color: mat-color($accent, 700);


  &__logo {
    height: 100%;
    width: 100px;
  }

  &__logo-img {
    position: relative;
    top: 15%;
    height: 70%;
  }

  &__logo-text {
    line-height: 3;
  }
  .button {
    color: mat-color($accent, 100);
    background-color: mat-color($accent, 700);
    }
}
