@import "~src/_variables.scss";

.card {
  &__card-inner {
    margin: 8px;
    color: mat-color($basic, 900);
    background-color: mat-color($accent, 100);
  }
}

.card-button {
  color: mat-color($basic, 900);
  background-color: mat-color($accent, 100);
}

.warn {
  background-color: mat-color($warn, 200);
}

.sub-warn {
  background-color: mat-color($sub-warn, 200);
}
