<mat-card class="card__card-inner mat-elevation-z3" fxLayout="column" fxLayoutGap="32px"
  appExpireWarn [isDone]="isDone" [deadline]="card.dueDate" (click)="toggleView()">
  <mat-card-title>
    <strong [ngStyle]="isDone?{'text-decoration': 'line-through'}:''">{{ card.name }}</strong>
  </mat-card-title>
  <ng-container *ngIf="isExpanded">
    <mat-card-content>
      <p class="card__description" *ngIf="card.description"><strong>Description: </strong>{{ card.description }}</p>
      <p *ngIf="card.dueDate"><strong>Due date: </strong>{{ card.dueDate | date:'longDate' }}</p>
      <p *ngIf="card.assignee"><strong>Assignee: </strong>{{ assigneeFullName(card.assignee) }}</p>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
      <button mat-raised-button class="card-button"
        appExpireWarn [isDone]="isDone" [deadline]="card.dueDate" (click)=removeItem($event)>
        <strong>Remove</strong>
      </button>
      <button mat-raised-button class="card-button"
        appExpireWarn [isDone]="isDone" [deadline]="card.dueDate" (click)=editItem($event)>
        <strong>Edit</strong>
      </button>
    </mat-card-actions>
  </ng-container>
</mat-card>
